@media (max-width: 2559px){


    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }
    
   
    
    .main {
     margin-top: 130px;
      justify-content: center;
      align-items: center;
      margin-bottom: 130px;
    }
  
    
    .aboutSection {
      text-align: center;
      padding-bottom: 20px;
    }
    
    .aboutImage {
      max-width: 100%;
      height: auto;
      margin-top: 20px;
    }
    .circularImage {
      width: 300px; 
       height: 300px;
      border-radius: 50%;
          overflow: hidden; 
         }
    
    .title{
      font-size: 24px;
      font-family:sans-serif; 
      text-decoration: none; 
      font-weight: bold;
      color:#ffffff
    }
    
    .text{
      font-size: 14px;
      font-family:sans-serif; 
      text-decoration: none; 
      font-weight: bold;
     
    }
    .header {
      background:  #75cb40 ;
      height: 40px;
      color: #fff;
      padding: 1rem;
      width: 100%;
      text-align: center;
      position: fixed;
      top: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .mailbutton{
      padding: 10px;
      color: #fff;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      width: 80%; 
      justify-content: center;
      padding: 10px; 
     
      background-color:#75cb40;
    }
    
    .mailbutton:hover{
      background-color: #75cb40;
      
    }
}