@media (max-width: 2559px){


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.header {
  background: linear-gradient(to bottom, #ab8b61 60%, #ffffff 40%);
  height: 90px;
  color: #fff;
  padding: 1rem;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.count {
 
  width: 80%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.periodcount {
  width: 100%;
  height: 30%;
  border-bottom: 1px solid #dadada;
  border-radius: 10px 10px 0 0;
}
.periodselect{
  background-color:  #ffffff;
  border: none;
}
.containerexin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(240, 0, 0);
  font-weight: bold;
  text-align: center;
  font-size: 16px; 
  font-family: sans-serif; 
  
}

.main {
 
  justify-content: center;
  align-items: center;
}
.addExpensesButton {
  position: fixed;
  bottom: 60px; 
  right: 20px; 
}

.addExpensesButton {
  background-color: #ab8b61; 
  color: white; 
  border: none;
  border-radius: 50%; 
  width: 40px; 
  height: 40px;
  font-size: 24px; 
  cursor: pointer;
  z-index: 10;
}

.addExpensesButton:hover {
  background-color:#a78150;
}


.expenseList {
  list-style: none;
  padding: 0;
 

  
}
.expenses{
position: relative;
margin-top: 20px;
margin-bottom: 50px;
}
.expenseItem {
  
  border: 1px solid #ab8b61;
 
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 300px; 
  display: flex;
  flex-direction: column;
  margin-right: 42px;
  margin-top: 20px;
  
   
  
}


.expenseTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expenseTitle {
  font-weight: bold;
  color:#a78150
}

.expenseDate {
  font-size: 0.85rem;
  color:#a78150
}

.expenseBottom {
  display: flex;
  justify-content: space-between;
}

.expenseLeft {
  flex: 1;
  text-align: left;
}

.expenseRight {
  flex: 1;
  text-align: right;
}
.delete{
  color: #fff;
  flex: 1; 
  width:40%;
  height: 100%;
  padding: 0.5rem 1rem; 
  background-color:  #e60000;
  border: none;
  border-radius: 10px;

}
.update{
  color: #fff;
  flex: 1; 
  width:40%;
  height: 100%;
  padding: 0.5rem 1rem; 
  background-color:  #ab8b61;
  border: none;
  border-radius: 10px;
  margin-right: 20%;

}
.popup {
  position: fixed; 
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%); 
  background-color: rgba(255, 255, 255, 0.915);
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  z-index: 999; 
  height: 420px;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  
}
.title {
  font-size: 20px;
  margin-bottom: 10px;
  font-family:sans-serif; 
  font-weight: bold;
  color: #e60000;
  text-align: center;
}
}