@media (max-width: 2559px){

  .search {
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 120px;
   
  }
.searchTerm {
  border: 1px solid #ab8b61;
  background: transparent;
  width: 80%;
  font-size: 16px;
  border-right: none;
  padding: 5px;
  height: 24px; 
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #ab8b61;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: none;
  background: #ab8b61;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
  .searchButton:hover {
    background-color: #a78150; 
  }
  .category {
    width: 100px;
    height: 36px;
    border: none;
    background: #ab8b61;
    text-align: center;
    color: #fff;
    border-radius:  5px ;
    cursor: pointer;
    font-size: 12px;
    margin-left: 2px;
  }
    .category:hover {
      background-color: #a78150; 
    }
}