/* food.module.css */
.container {
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #a2de99;
    border-radius: 10px;
    background-color: hsl(88, 76%, 87%);
  font-size: 13px;
    font-family:sans-serif; 
    text-decoration: none; 
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  


  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 8px;
    font-size: 22px;
    color: #75cb40;
  }
  
  .textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 200px;
    outline: none; 
    font-size: 16px;
  }
  
  .button {
    background-color: #75cb40;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .button:hover {
    background-color: #4f7d2f;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  .nutritionInfoContainer {
    margin-top: 20px;
  }
  
  .nutritionInfo {
    font-size: 17px;
  }
  
  