
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 15px;
    background-color: #fff;
  }
  
  /* Style for table headers */
  .th {
    background-color: #75cb40;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  /* Style for table rows */
  .td {
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  /* Style for error message */
  .error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .verticalBlock {
   
    background-color:#fff ;
    border-radius: 10px;
    padding: 20px;
    color:#75cb40 ;
  }
  /* Add this to your food.module.css file */
.nutritionTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
    
  }
  
  .nutritionTable th, .nutritionTable td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    color:#000000 ;
  }
  
  .nutritionTable th {
    background-color: #75cb40;
    color: white;
  }
  