@media (max-width: 2559px){
    .container {
      max-width: 100%; 
      width: 80%; 
      margin: 0 auto;
      padding: 30px;
     
      border-radius: 5px;
      background-color: #fff;
     
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .title {
      font-size:34px;
      margin-bottom: 5px;
      font-family:sans-serif; 
      font-weight: bold;
    color:  #75cb40;
    }
    .home{
      position: fixed;
      z-index: 20;
      top: 20px; 
      left: 20px;
    }
    .welcome{
      margin-bottom: 30px;
    }
    .title3{

      font-size: 13px;
  font-family:sans-serif; 
  font-weight: bold;
 color: #808080;
    }
    .title2 {
      font-size: 18px;
      margin-bottom: 30px;
      font-family:sans-serif; 
      font-weight: bold;
      text-decoration: none;
      color: #75cb40;
    }
    .formstyle {
      display: flex;
      flex-direction: column;
    }
   

    .formstyle {
      display: flex;
      flex-direction: column;
    }
    .inputstyle {
  border: none; 
  border-bottom: 2px solid  #75cb40; 
  background: transparent; 
  outline: none; 
  padding: 10px; 
  width: 100%;
  margin-bottom: 8px; 
  width: 94%;
}
.subbutton{
  padding: 10px;
  background-color: #75cb40; 
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
 
}
.subbutton:hover {
  background-color: #325c16;

}
  
  
  .greeting {
    font-size: 32px;
    margin-bottom: 20px;
    font-family:sans-serif; 
    font-weight: bold;
  }
  
  .buttoncontainer {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  
  
  .signupbutton {
    padding: 10px;
    background-color: #75cb40; 
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
  }
  
  
 
  .errormessage{
    font-size: 10px;
    font-family:sans-serif; 
    text-decoration: none; 
    color: #c50000;
  }
  .iconStyle {
    color:#75cb40;
  }
  .inputstyleselect {
    border: none; 
    border-bottom: 2px solid #75cb40; 
    background: transparent; 
    outline: none; 
    padding: 10px; 
    width: 100%;
    margin-bottom: 8px; 
    
    }
  }